.DS_Store
*.crx
*.pem
*.safariextz
*.xpi

source/chrome/print.css
source/chrome/Icon*
source/firefox/chrome/content/print.css
source/firefox/chrome/skin/Icon*
source/safari.safariextension/print.css
source/safari.safariextension/Icon*

